<div class="header header-image">
  <nav class="navbar">
    <a href="./" class="header-logo">
      <img
        src="../../assets/img/logo-light.svg"
        alt="logo-light"
        class="header-logo--light"
      />
    </a>
    <ul class="header-nav">
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">О компании</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Контрактное производство</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Собственные торговые марки</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Новости</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Контакты</a>
      </li>
    </ul>
    <div class="header-phone">
      <img
        class="header-phone__icon"
        src="../../assets/img/phone-ico.svg"
        alt="icon: phone"
      />
      <a href="tel:+74996861014" class="header-phone__link"
        >+7 (499) 686-10-14</a
      >
    </div>
    <button class="header__button button">Получить консультацию</button>
  </nav>
  <div class="container">
    <div class="header-content">
      <div class="separator"></div>
      <h1 class="header__title">
        Комплексное обеспечение товарами и расходными материалами бизнеса
      </h1>
      <p class="header__description">
        Высокий уровень вовлечения представителей целевой аудитории является
        четким доказательством простого факта: высококачественный прототип
        будущего проекта напрямую зависит от анализа существующих паттернов
        поведения.
      </p>
      <button class="button header-content__button">
        Подробнее о компании
      </button>
    </div>
    <ul class="header-features">
      <li class="header-features__item">
        <img
          src="../../assets/img/header/features/feature-1.svg"
          alt="Icon: WorkTime"
          class="header-features__icon"
        />
        <p class="header-features__text">Непрерывная работа c 2017 года</p>
      </li>
      <li class="header-features__item">
        <img
          src="../../assets/img/header/features/feature-2.svg"
          alt="Icon: Documents"
          class="header-features__icon"
        />
        <p class="header-features__text">Вся продукция сертифицирована</p>
      </li>
      <li class="header-features__item">
        <img
          src="../../assets/img/header/features/feature-3.svg"
          alt="Icon: Quality"
          class="header-features__icon"
        />
        <p class="header-features__text">Контроль качества на всех этапах</p>
      </li>
      <li class="header-features__item">
        <img
          src="../../assets/img/header/features/feature-4.svg"
          alt="Icon: Delivery"
          class="header-features__icon"
        />
        <p class="header-features__text">Возможны поставки по всей России</p>
      </li>
      <li class="header-features__item">
        <img
          src="../../assets/img/header/features/feature-5.svg"
          alt="Icon: Speed"
          class="header-features__icon"
        />
        <p class="header-features__text">Оперативное производство</p>
      </li>
    </ul>
  </div>
</div>
