<div class="header">
  <nav class="navbar">
    <a href="./" class="header-logo">
      <img
        src="../../assets/img/logo-light.svg"
        alt="logo-light"
        class="header-logo--light"
      />
    </a>
    <ul class="header-nav">
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">О компании</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Контрактное производство</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Собственные торговые марки</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Новости</a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link">Контакты</a>
      </li>
    </ul>
    <div class="header-phone">
      <img
        class="header-phone__icon"
        src="../../assets/img/phone-ico.svg"
        alt="icon: phone"
      />
      <a href="tel:+74996861014" class="header-phone__link"
        >+7 (499) 686-10-14</a
      >
    </div>
    <button class="header__button button">Получить консультацию</button>
  </nav>
</div>
