.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: $white;
  background-color: $blue;
  border: none;
  display: flex;
  align-items: center;
  padding: 26px 60px;
  justify-content: center;
  gap: 10px;
  flex-shrink: 0;
  cursor: pointer;
}
