.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: $white;
  background-color: $blue;
  border: none;
  padding: 26px 60px;
  cursor: pointer;
}

.separator {
  width: 150px;
  height: 2px;
  background-color: $separator;
}
